<nav>
    <a href="{{ url_for('contacts.añadir_venta') }}">Añadir Venta</a>
    <a href="{{ url_for('contacts.index') }}">Inicio</a>
</nav>
<div>
    {% for venta in ventas %}
    <div>
        <nav>
            <a href="{{ url_for('contacts.delete_venta', id=venta.id) }}">Delete</a>
        </nav>
        <h5>Nombre: {{venta.nombre}}</h5>
        <p>Rut: {{venta.rut}}</p>
        <p>Venta Id: {{venta.id}}</p>
        <p>Apellido: {{venta.apellido}}</p>
        <p>Correo: {{venta.correo}}</p>
        <p>----------------</p>
        <p>Nombre Producto: {{venta.nombre_producto}}</p>
        <p>Total Precio: {{venta.total_precio}}</p>
    </div>
    {% endfor %}
</div>
<style>
    * {
        margin: 8px;
        padding: 0px;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    div div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        width: 300px;
        margin: 10px;
    }
    div div a {
        margin: 1px;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin: 10px;
    }
    a:hover{
        color: #f5f5f5;
        background-color: black;
        border-radius: 10px;
    }
</style>